
  .container
  {
      background-color: #f0f4f6;
  }
  .loading,.container{
     
      text-align: center;
  }
  .container
  {
     
      padding: 200px 0px;
      display: grid;
      text-align: center;
     display: grid,
  
  }
  
  #loadingdiv
  {
      width: 100%;
  height: auto;
  display: grid;
   
  justify-content: center;
  text-align: center;
  font-size: 50px;
  padding: 50px 0px;
     
  }
  .btn
  {
      background-color: #4296cb;
      color: white;
      border: 0px ;
      padding: 20px 30px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 5px;
  
      margin: auto;
      margin-top: 20px;
  }
  #orderPlaced
  {
      font-size: 50px;
  }
  .txt
  {
      font-size: 20px;
  }